---
title: "Network_Verification"
collection: projects
permalink: /projects/network_verification
excerpt: 'A brief survey of network virification.'
# excerpt: "Short description of portfolio item number 1<br/><img src='/images/500x300.png'>"
---
## Overview
- Network Verification: The network data/network configuration is abstracted into a network model, the model verification method is used to verify the network properties that need to be checked, and the network errors are found. 

<img class="img-responsive" src="/images/projects/Network_Verification/nv_overview.png">

## Download Report
Download my [report](files/nv_survey.pptx) about several representative NV work.


<!-- | mobilenet  |   16 MB   | 579 MFLOPs |  2.31+2.3+2.3+2.33+2.34=2.316  | 2.31+2.36+2.34+2.36+2.36=2.346  |  1.30%   |  -->

<!-- <img class="img-responsive" src="/images/ECCV2018_architecture.jpg">

## Publication:
Y. Huang, <u>M. Cai</u>, Z. Li and Y. Sato, &quot;Predicting Gaze in Egocentric Video by Learning Task-dependent Attention Transition,&quot; <i>European Conference on Computer Vision (**ECCV**)</i>, 2018. (<font color="blue">oral presentation, acceptance rate: 2.4%</font>)  
[[Arxiv preprint]](/files/HCLS_eccv_arxiv2018.pdf)
[[Code]](https://github.com/hyf015/egocentric-gaze-prediction)

### Demo video (Youtube)
<iframe width="560" height="315" src="https://www.youtube.com/embed/TiFz-LP3LW4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
